UserLogin { 
    org.apache.openejb.core.security.jaas.SQLLoginModule required 
    dataSourceName="StudentsDataSource" 
    userSelect="SELECT USER_NAME, PASSWORD_DIGEST FROM ACCOUNT WHERE USER_NAME = ?"
    groupSelect="SELECT a.USER_NAME, g.GROUP_NAME FROM ACCOUNT_GROUP g JOIN ACCOUNT a ON g.ACCOUNT_ID = a.ID WHERE a.USER_NAME = ?"
    digest="SHA"
    encoding="hex";
};