<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %date{HH:mm:ss.SSS} %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- monthly rollover -->
            <fileNamePattern>${catalina.base}/logs/JavaEEStarter.%d{yyyy-MM}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%-5level %date %msg%n</pattern>
            <!--pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern-->
        </encoder>
    </appender>

    <!-- Hibernate logging -->
    <!-- http://docs.jboss.org/hibernate/orm/4.3/manual/en-US/html/ch03.html#configuration-logging -->
    <logger name="org.hibernate.SQL" level="INFO" additivity="false">
        Log all SQL DML statements as they are executed
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>