<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lt.vu.usecases.mybatis.dao.CourseMapper">
    <resultMap id="BaseResultMap" type="lt.vu.usecases.mybatis.model.Course">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM public.course
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="lt.vu.usecases.mybatis.model.Course" useGeneratedKeys="true">
        INSERT INTO public.course (name)
        VALUES (#{name,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="lt.vu.usecases.mybatis.model.Course">
        UPDATE public.course
        SET name = #{name,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
            id,
            name
        FROM public.course
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            id,
            name
        FROM public.course
    </select>
</mapper>