<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lt.vu.usecases.mybatis.dao.StudentCourseMapper">
    <resultMap id="BaseResultMap" type="lt.vu.usecases.mybatis.model.StudentCourse">
        <id column="insurance_id" jdbcType="INTEGER" property="studentId"/>
        <id column="car_id" jdbcType="INTEGER" property="courseId"/>
    </resultMap>
    
    <delete id="deleteByPrimaryKey" parameterType="map">
        DELETE FROM public.insurance_car
        WHERE insurance_id = #{insuranceId, jdbcType=INTEGER}
          AND car_id       = #{carId,       jdbcType=INTEGER}
    </delete>
    
    <insert id="insert" parameterType="lt.vu.usecases.mybatis.model.StudentCourse">
        INSERT INTO public.insurance_car (insurance_id, car_id)
        VALUES (#{insurance_car,jdbcType=INTEGER}, #{car_id,jdbcType=INTEGER})
    </insert>
    
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            insurance_id,
            car_id
        FROM public.insurance_car
    </select>
</mapper>