<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lt.vu.usecases.mybatis.dao.OwnerMapper">
  <resultMap id="BaseResultMap" type="lt.vu.usecases.mybatis.model.Owner">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="FIRST_NAME" jdbcType="VARCHAR" property="firstName" />
    <result column="LAST_NAME" jdbcType="VARCHAR" property="lastName" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from PUBLIC.OWNER
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="lt.vu.usecases.mybatis.model.Owner" useGeneratedKeys="true">
    insert into PUBLIC.OWNER (FIRST_NAME, LAST_NAME)
    values (#{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="lt.vu.usecases.mybatis.model.Owner">
    update PUBLIC.OWNER
    set FIRST_NAME = #{firstName,jdbcType=VARCHAR},
      LAST_NAME = #{lastName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, FIRST_NAME, LAST_NAME
    from PUBLIC.OWNER
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select ID, FIRST_NAME, LAST_NAME
    from PUBLIC.OWNER
  </select>
</mapper>